<h1><center>Лабораторна робота 1.</center></h1>
<h2><center>Аналіз доходу населення за набором даних Adult Data Set</center></h2>

**Виконав:** Машталяр М.Б.

**Варіант:** №14

<a class="anchor" id="lab-1"></a>

## Зміст

1. [Завантаження і знайомство з даними](#lab-1.1)
2. [Завдання](#lab-1.2)

<a class="anchor" id="lab-1.1"></a>

## <span style="color:blue; font-size:1.2em;">1.1. Завантаження та підготовка даних</span>

[Повернутися до змісту](#lab-1)

У лабораторній роботі пропонується за допомогою Pandas відповісти на кілька запитань за набором даних [Adult](https://archive.ics.uci.edu/ml/datasets/adult) сховища UCI.

Унікальні значення ознак набору даниз Adult Data Set (більше інформації в описі [Adult](https://archive.ics.uci.edu/ml/datasets/adult)):

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

Завантажимо `Pandas` та переглянемо вміст набору даних.

In [1]:
import pandas as pd
import numpy as np

def print_percent(number):
  print(str(number * 100) + '%')

In [2]:
adult_data_url = 'https://raw.githubusercontent.com/radiukpavlo/intelligent-data-analysis/main/02_assignments/ida_lab-01_adult_pandas/adult.data.csv'

df = pd.read_csv(adult_data_url)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

-----
<a class="anchor" id="lab-1.2"></a>

## <span style="color:blue; font-size:1.2em;">1.2. Завдання</span>

[Повернутися до змісту](#lab-1)

Варіанти завдань відповідають списку студентв групі. Дайте відповіді на запитання з використанням бібліотеки `Pandas`.

### <span style="color:red; font-size:1.5em;">Завдання 1</span>
**Для варіантів 11-20:**

Яку кількість жінок (ознака *sex*) подано в наборі даних UCI Adult Data Set?

In [3]:
len(df[df['sex'] == 'Female'])

10771

### <span style="color:red; font-size:1.5em;">Завдання 2</span>

**Для варіантів 11-20:**

Який середній вік (ознака *age*) чоловіків?

In [4]:
df[df['sex'] == 'Male'].age.mean()

39.43354749885268

### <span style="color:red; font-size:1.5em;">Завдання 3</span>

**Для варіантів 11-15:**

Яка частка громадян США (у %, ознака *native-country*) в наборі даних?

In [5]:
print_percent(df['native-country'].value_counts(normalize=True)['United-States'])

89.5857006848684%

### <span style="color:red; font-size:1.5em;">Завдання 4</span>

**Для варіантів 11-20:**

Які середні значення і середньоквадратичні відхилення віку тих, хто отримує зарплату більше 50K на рік (ознака *salary*)?

In [6]:
# середні значення
print("Mean value", df[df['salary'] == '>50K'].age.mean())

# для вичислення середньоквадратичних відхилень віку потрібно мати очікувані дані, яких не вказано в завданні
print("Quantile value", df[df['salary'] == '>50K'].age.quantile())

Mean value 44.24984058155847
Quantile value 44.0

### <span style="color:red; font-size:1.5em;">Завдання 5</span>

**Для варіантів 11-15:**

Яка частка людей, що подані в наборі даних, має вік в діапазоні [30; 50) років?

In [7]:
print_percent(len(df['age'][(df['age'] >= 30) & (df['age'] < 50)]) / len(df))

48.48745431651362%

### <span style="color:red; font-size:1.5em;">Завдання 6</span>

**Для варіантів 11-15:**

Скільки людей, що отримують <=50K, мають вищу освіту?

**Примітка:** вища освіта відповідає значенням ознаки *education* - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters або Doctorate)

In [8]:
len(df[(df['salary'] == '<=50K') & (df['education-num'] >= 11)])

5981

### <span style="color:red; font-size:1.5em;">Завдання 7</span>

**Виведіть статистику віку для кожної раси (ознака *race*) та кожної статі (ознака *sex*). Використовуйте `groupby` і `describe`.**

**Для варіантів 11-15:**

Знайдіть у такий спосіб максимальний вік чоловіків раси *Black*.

In [9]:
df[(df.sex == "Male") & (df.race == "Black")].groupby(by=['sex', 'race'])['age'].describe()[['max']]

             max
sex  race
Male Black  90.0

### <span style="color:red; font-size:1.5em;">Завдання 8</span>

Для варіантів 11-15:

**Представники якої професії заробляють більше (>50K) (ознака *occupation*)?**

In [10]:
df[df['salary'] == '>50K']['occupation'].max()

'Transport-moving'

### <span style="color:red; font-size:1.5em;">Завдання 9</span>

***Для всіх варіантів*: обрахуйте мінімальну та максимальну кількість робочих годин (ознака *hours-per-week*).**

**Для варіантів 11-15:**

Скільки людей працюють мінімальну кількість годин і який поміж них відсоток заробляє багато (>50K)?

In [11]:
print(df['hours-per-week'].describe()[['min', 'max']])

df[df['hours-per-week'] == (df['hours-per-week'].min())].groupby(['salary']).describe()

min     1.0
max    99.0
Name: hours-per-week, dtype: float64

         age                                                       fnlwgt  \
       count       mean        std   min    25%   50%    75%   max  count
salary
<=50K   18.0  61.555556  19.367110  21.0  58.25  69.0  74.75  81.0   18.0
>50K     2.0  61.500000   4.949747  58.0  59.75  61.5  63.25  65.0    2.0

                       ... capital-loss         hours-per-week                 \
                 mean  ...          75%     max          count mean  std  min
salary                 ...
<=50K   174534.111111  ...          0.0  1944.0           18.0  1.0  0.0  1.0
>50K     92805.000000  ...          0.0     0.0            2.0  1.0  0.0  1.0


        25%  50%  75%  max
salary
<=50K   1.0  1.0  1.0  1.0
>50K    1.0  1.0  1.0  1.0

[2 rows x 48 columns]

### <span style="color:red; font-size:1.5em;">Завдання 10</span>

**Для варіантів 11-15:**

Обрахуйте середній час роботи (*hours-per-week*) тих людей, хто заробляє мало і багато (*salary*) для обох статей (*sex*).

In [13]:
df.groupby(['salary', 'sex']).describe()['hours-per-week'][['mean']].mean()['mean']

40.85082983297575